.header-block {
  display: flex;
  font-family: $fontPoppins;
  font-weight: $fontSemiBold;
  color: $black;
}
.header-block__link {
  text-decoration: none;
  color: $black;
  padding: 0 20px;
  position: relative;
  line-height: 32px;

  &:hover {
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 2 * 20px - 2 * 10px);
      height: 2px;
      background-color: $red;
    }
  }
}
