@mixin arrow($size, $color, $rotate: 45deg) {
  position: absolute;
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: $size solid $color;
  transform: rotate($rotate);
}

$white: #FFFFFF;
$black: #000000;
$red: #B00000;
$light-grey: #D6D4D4;
$dark-grey: #2E2E2E;
$fontSemiBold: 600;
$fontPoppins700: 700;
$fontPoppins: Poppins, Helvetica, Arial, sans-serif;
$fontInter: Inter, Helvetica, Arial, sans-serif;

body {
  position: relative;
  background: $white;
  font-family: $fontPoppins;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 112px;
}

.header-block {
  display: flex;
  font-family: $fontPoppins;
  font-weight: $fontSemiBold;
  color: $black;
}

.header-block__link {
  text-decoration: none;
  color: $black;
  padding: 0 20px;
  position: relative;

  &:hover {
    color: $red;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 2 * 20px - 2 * 10px);
      height: 2px;
      background-color: $red;
    }
  }
}

.logo-section {
  @extend .header-block;
  align-items: center;

  &__link {
    @extend .header-block__link;
  }
}

.about-section {
  @extend .header-block;

  &__link {
    @extend .header-block__link;
  }
}

.account-section {
  @extend .header-block;
  align-items: center;

  &__link {
    @extend .header-block__link;
  }

  &__separator {
    margin-right: 20px;
    color: $light-grey;
  }

  &__number {
    margin-left: 8px;
  }
}

.top-section {
  padding: 40px 112px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__nav {
    border-bottom: 1px solid $light-grey; // should be less than "nav" text above
    display: inline-flex;
  }

  &__link {
    text-decoration: none;
    color: $light-grey;
    position: relative;
    font-weight: $fontSemiBold;

    margin-bottom: -1px; // to be on same line with border

    &:not(:first-child) {
      margin-left: 16px;
    }

    &:first-child {
      margin-left: -1px;
    }

    &:last-child {
      margin-right: -1px;
    }

    &:hover {
      color: $red;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 8px);
        height: 1px;
        background-color: $red;
      }
    }
  }

  &__content {
    flex-basis: 100%;

    @media (min-width: 768px) {
      flex-basis: 50%;
    }
  }

  &__title {
    font-weight: $fontPoppins700;
    font-size: 64px;
    line-height: 75px;
    color: $dark-grey;
    margin-top: 30px;
  }

  &__body {
    letter-spacing: 0.05em;
    font-family: $fontInter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #808080;
    margin: 30px 0;
    width: 64%;
  }

  &__button {
    border-radius: 8px;
    padding: 12px 16px; //not sure in top/bottom padding
    background-color: $white;
    font-family: $fontPoppins;

    &:not(:first-child) {
      margin-left: 16px;
    }

    &:hover {
      cursor: pointer;
      background-color: $red;
      border-color: $red;
      color: $white;
      box-shadow: 0 0 64px rgba(176, 0, 0, 0.3);
    }
  }

  &__image {
    position: relative;

    .arrow--first {
      right: -5%;
      bottom: 5%;
      @include arrow(50px, $red);
    }

    .arrow--second {
      left: -5%;
      top: 60%;
      @include arrow(25px, $red, 135deg);
    }

    .arrow--third {
      right: -5%;
      top: 15%;
      @include arrow(25px, $red);
    }
  }
}

