$white: #FFFFFF;
$black: #000000;
$red: #B00000;
$light-grey: #D6D4D4;
$dark-grey: #2E2E2E;
$fontSemiBold: 600;
$fontPoppins: Poppins, Helvetica, Arial, sans-serif;
$fontInter: Inter, Helvetica, Arial, sans-serif;
$mediaSize: 1024px;
