body {
  position: relative;
  background: #FFFFFF;
  padding: 40px;
  font-family: Poppins;
}
body nav {
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 1px 139px 55px 63px;
}
body nav .logo-section {
  display: flex;
  align-items: center;
}
body nav .logo-section a {
  margin-left: 63px;
  color: #000000;
  text-decoration: none;
}
body nav .logo-section .link.margin {
  margin-left: 11px;
}
body nav .logo-section .link .hover-indicator-logo-section {
  height: 3px;
  background-color: #B00000;
  visibility: hidden;
  margin: 1px 16px 0 77px;
}
body nav .logo-section .link a {
  text-decoration: none;
}
body nav .logo-section .link:hover .hover-indicator-logo-section {
  visibility: visible;
}
body nav .about-section {
  display: flex;
  margin-left: 123px;
}
body nav .about-section a {
  text-decoration: none;
  color: #000000;
  margin: 12px;
}
body nav .about-section .link.margin {
  margin-left: 11px;
}
body nav .about-section .link .hover-indicator-about-section {
  height: 3px;
  background-color: #B00000;
  visibility: hidden;
}
body nav .about-section .link a {
  text-decoration: none;
}
body nav .about-section .link:hover .hover-indicator-about-section {
  visibility: visible;
}
body nav .account-section {
  display: flex;
  margin-left: 177px;
}
body nav .account-section a {
  color: #000000;
  text-decoration: none;
}
body nav .account-section .vertical-line {
  color: #DAD8D8;
  margin: 0 30px 0 30px;
}
body nav .account-section .phone-logo img {
  margin-right: 5px;
}

.top-section {
  display: flex;
  justify-content: space-around;
  padding: 0 89px 0 63px;
}
.top-section .top-section-nav {
  border-bottom: 2px solid #D6D4D4;
  width: 44%;
  display: flex;
}
.top-section .top-section-nav .link.margin {
  margin-left: 11px;
}
.top-section .top-section-nav .link .hover-indicator {
  height: 2px;
  background-color: #B00000;
  visibility: hidden;
}
.top-section .top-section-nav .link a {
  color: #D6D4D4;
  text-decoration: none;
}
.top-section .top-section-nav .link a:hover {
  color: #B00000;
}
.top-section .top-section-nav .link:hover .hover-indicator {
  visibility: visible;
}
.top-section .top-section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #2E2E2E;
  padding-top: 25px;
}
.top-section .top-section-content {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #808080;
  margin-right: 150px;
  padding-top: 24px;
}
.top-section .top-section-content .top-section-content-body {
  padding: 24px 95px 43px 0;
  letter-spacing: 0.05em;
  font-family: Inter;
  font-size: 16px;
}
.top-section .top-section-image {
  margin-top: 41px;
  position: relative;
}
.top-section .top-section-image .triangles {
  position: absolute;
  top: 64px;
  right: -24px;
}
.top-section .top-section-buttons .create-button {
  color: #FFFFFF;
  background-color: #B00000;
  border-radius: 8px;
  padding: 15px 16px;
  border: none;
  font-family: Poppins;
}
.top-section .top-section-buttons .create-button:hover {
  box-shadow: 0 0 64px rgba(176, 0, 0, 0.3);
}
.top-section .top-section-buttons .choose-button {
  border-radius: 7px;
  padding: 14px 17px;
  background-color: #FFFFFF;
  font-family: Poppins;
  margin-left: 25px;
}

.client-section {
  display: flex;
  padding: 70px 27px 0 27px;
}
.client-section .client-section-content {
  width: 55%;
}
.client-section .client-section-content .client-section-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 75px;
  color: #2E2E2E;
}
.client-section .client-section-content .client-section-content-body {
  font-size: 18px;
  line-height: 32px;
  color: #18191F;
  padding: 16px 67px 0 0;
  font-family: Inter;
}
.client-section .client-section-clients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 100px;
  align-items: center;
  justify-items: center;
}
.client-section .item {
  padding: 20px;
}
.client-section .item-6 {
  padding-bottom: 20px;
}

.providing-section .providing-section-container {
  display: flex;
  flex-direction: row;
  padding: 106px 50px 0 50px;
}
.providing-section .providing-section-container .providing-section-container-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 0 25px;
}
.providing-section .providing-section-container .providing-section-container-block-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  padding: 13px 0 9px 0;
}
.providing-section .providing-section-container .providing-section-container-block-body {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

/*# sourceMappingURL=styles.css.map */
